@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
body {
    background-color: #e7f4fa;
    color: #333;
    line-height: 1.6;
}
nav {background-color: #01254a;
    padding: 20px 20px;
    position: sticky;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-size: 100;
    font-style: oblique;
}

.logo span {
    color: #74b4f5;
    font-weight: 700;
    font-size: x-large;
    font-style: o;
}
.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: color 0.3s ease, border 0.3s ease , background-color 0.3s ease; 
    padding: 5px 10px;  
    border-radius: 999px;
}

.nav-links li  a:hover {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 78, 104);
    border-radius: 999px;
    padding: 15px;
}

header {
    background-color: #01254a;
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.1em;
}

.artikel {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.artikel h2 {
    color: #1c2834;
    margin-bottom: 10px;
    border-bottom: 2px solid #7e0000;
    padding-bottom: 5px;
}

.artikel p {
    margin-bottom: 15px;
    text-align: justify;
}

.artikel ul, .artikel ol {
    margin: 10px 0 15px 20px;
}

.artikel li {
    margin-bottom: 8px;
}

.artikel strong {
    color: #01254a;
}

.social-icons a {
    text-decoration: none;
    color:white;
    transition:transform 0.3 ease, color 0.3 ease;
    margin: 0 0.1rem;
}

.social-icons a:hover {
    color: #b54703;
    transform: scale(1.3);
}

.footer {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    text-align: center;
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        align-items: center; 
    }

    .content {
        flex-direction: column; 
        align-items: center;
    }

    .imges {
        width: 100%;
        max-width: 300px; 
    }

    .sertif-container {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .nav-links li a {
        font-size: 0.9rem;
    }

    .footer-content p {
        font-size: 0.8rem;
    }
}